.react-date-picker__wrapper{
    display: flex !important;
    align-items: center;
}
.react-date-picker__inputGroup{
    min-width: 170px;
}
.custom_datepicker input{
    width: 40px !important;
}
.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year{
    width: 60px !important;
}
.react-date-picker__calendar.react-date-picker__calendar--open{
    z-index: 1 !important;
    background-color: #fff;
}
.react-date-picker__calendar.react-date-picker__calendar--closed{
    display: none;
}