.mainSearch {
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 100vh;
  padding: 60px;
  backdrop-filter: contrast(40%);
  right: 0;
  @include media-below(lg) {
    width: 100%;
    height: calc(100vh - 170px);
    padding: 50px 20px;
    border-radius: 4px !important;
  }
  .button-grid {
    display: grid;
    grid-template-columns: 1fr;

    > * + * {
      padding: 10px;
      border: 1px solid white;
      margin-top: 10px;
    }

    @include media-below(lg) {
      grid-template-columns: 1fr;
    }
    ::placeholder {
      color: white;
      opacity: 1; /* Firefox */
    }
    .react-date-picker__calendar-button svg{
      stroke: #fff;
    }
  }


  .button-item {
    border: none !important;
  }

  .button-item button:hover{
    background-color: #fff !important;
    color: var(--color-dark-1) !important;
    border-color: var(--color-dark-1) !important;
  }

  &__submit {
    @include media-below(lg) {
      border-radius: 4px !important;
    }
  }

  &.-col-2 {
    .button-grid {
      grid-template-columns: 1fr 1fr min-content;

      @include media-below(lg) {
        grid-template-columns: 1fr;
      }
    }
  }

  &.-col-4 {
    .button-grid {
      grid-template-columns: auto auto 200px 200px min-content;

      @include media-below(lg) {
        grid-template-columns: 1fr;
      }
    }
  }

  &.-col-3-big {
    .button-grid {
      grid-template-columns: 1fr 0.6fr 0.6fr auto;

      @include media-below(lg) {
        grid-template-columns: 1fr;
      }
    }
  }

  &.-col-5 {
    .button-grid {
      grid-template-columns: auto auto auto auto auto min-content;

      @include media-below(lg) {
        grid-template-columns: 1fr;

        > * + * {
          border-left: 0;
          border-top: 1px solid var(--color-border);
        }
      }
    }
  }

  &.-w-900 {
    width: auto;

    @include media-below(lg) {
      width: auto;
    }
  }

  &.-w-1070 {
    width: 1070px;
    max-width: 100%;

    @include media-below(lg) {
      width: auto;
    }
  }

  .social-icons{
   margin-top: 100px;
   padding: 0 10px;
  }
  .social-icons  a{
    color: white  !important;
   }
  .social-icons  a:hover {
     color: var(--color-yellow-1) !important;
   }
}

.searchMenu-loc {
  position: relative;

  &__field {
    position: absolute;
    margin-top: 30px;
    top: 100%;
    left: 0;
    z-index: 20;
    width: 500px;
    max-width: 100vw;
    transition: all 0.2s $easeOutQuart;
    pointer-events: none;
    opacity: 0;

    @include media-below(lg) {
      width: auto;
      left: -20px;
      right: -20px;
    }

    @include media-below(sm) {
      left: -35px;
      right: -35px;
    }

    &.-is-active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .-link {
    &:hover {
      background-color: color-opac(blue-1, 0.05) !important;
    }
  }

  .-link.active {
    background-color: color-opac(blue-1, 0.05) !important;
  }
}

.searchMenu-date {
  position: relative;
  
  &.-left {
    .searchMenu-date__field {
      transform: none !important;
    }
  }
  input{
    width: 100% !important;
  }
  &.-right {
    .searchMenu-date__field {
      left: unset;
      right: 0;
      transform: none !important;
    }
  }

  &__field {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: 900px;
    max-width: 100vw;
    margin-top: 30px;
    box-shadow: 0px 10px 60px 0px #0510360d;
    transform: translateX(-31%);
    transition: all 0.2s $easeOutQuart;
    pointer-events: none;
    opacity: 0;

    &.-is-active {
      pointer-events: auto;
      opacity: 1;
    }

    @include media-below(lg) {
      transform: none;
      width: auto;
      left: -20px;
      right: -20px;
    }

    @include media-below(sm) {
      left: -35px;
      right: -35px;
    }
  }
}

.searchMenu-guests {
  position: relative;

  &__field {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: 400px;
    max-width: 100vw;
    margin-top: 30px;
    box-shadow: 0px 10px 60px 0px #0510360d;
    transition: all 0.2s $easeOutQuart;
    pointer-events: none;
    opacity: 0;

    @include media-below(lg) {
      width: auto;
      left: -20px;
      right: -20px;
    }

    @include media-below(sm) {
      left: -35px;
      right: -35px;
    }

    &.-is-active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .guest-count-dropdown{
    border-radius: 0;
  }
}

.blur {
  background: #ffffff33; // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  width: 40%;
}

/* Style the radio buttons as buttons */
.middle label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

/* Hide the actual radio input */
.middle input[type="radio"] {
  display: none;
}

/* Style the custom button container */
.middle .custom-box {
  display: inline-block;
  padding: 3px 10px;
  background-color: transparent; /* Change this to your desired button color */
  color: #fff; /* Change this to your desired text color */
  border: 1px solid #fff; /* Change this to your desired border color */
  border-radius: 0px;
  text-align: center;
  width: 100px;
}

/* Style the custom button when it's checked */
.middle input[type="radio"]:checked + .custom-box {
  background-color: #fff !important; /* Change this to your desired checked button color */
  color: var(--color-dark-2); /* Change this to your desired checked text color */
  border: 1px solid #fff; /* Change this to your desired checked border color */
}

/* Add some hover effects */
.middle .custom-box:hover {
  background-color: var(--color-yellow-1) !important; /* Change this to your desired hover button color */
  border-color: var(--color-yellow-1) !important; /* Change this to your desired hover border color */
  color: var(--color-dark-2);
}

/* Style the label text */
.middle label span {
  vertical-align: middle;
  margin-left: 5px;
}
.mainSearch .button-grid{
  margin-top: 150px;

  @include media-below(lg) {
   margin-top: 50px;
  }
}

